.navbar{
    height: 8vh;
    background-color: rgba(19, 18, 18, 0.914);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-weight: bolder;
    font-size: larger;

    a{
        margin-left: 20px;
        color: rgb(0, 0, 0);
        padding: 2px 5px;
        background-color: antiquewhite;
        border: 2px solid rgb(255, 255, 255);
    }
}
