.list_main {
    color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    h1 {
        text-decoration: underline;
    }

    .btngrp{
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
        :hover{
            cursor: pointer;
            text-decoration: underline;
        }
        button{
            font-size: larger;
            font-weight: bolder;
            background-color: antiquewhite;

        }
    }
}
*{
    transition: all .2s ease-in-out;
}

.itemlist {
    height: auto;
    display: flex;
    padding: 2%;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
   
    

    .item {
        border: 2px solid rgb(0, 0, 0);
        box-shadow: 0px 0px 10px black;
        background-color: rgb(152, 152, 145);
        width: 20%;
        min-width: 270px;
        display: flex;
        position: relative;
        flex-direction: column;

      h4{
          color: black;
          text-align: left;
          font-style: italic;
          font-weight: bolder;
          margin: 0;
          position: absolute;
            bottom: 10px;
            display: flex;
            width: 90%;
            left: 0px;
            justify-content: space-between;
            padding-left: 10px;
            
        }
        

        

        .img {

            width: 100%;
            overflow: hidden;
            height: 250px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
                position: relative;
                height: fit-content;
                padding: 2%;


            h3 {
                margin: 0;
                color: black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-wrap: pretty;
            }
           
           p{

            span{
                margin-left: 2px;
                text-transform: capitalize;
                background-color: rgba(0, 0, 0, 0.295);
                
            }
            
            color: gold;
            
           }

            pre {
                white-space: pre-wrap;
                word-wrap: break-word;
                margin: 0;
            }
        }
        
    }

    
}



.item:hover{
    box-shadow: 0px 0px 40px black;
    scale: 1.02;
    cursor: pointer;
}

.pb-10{
    padding-bottom: 20px;
}

.likes{
    display: flex;
    gap: 5px;

    i{
        color: white;
    }
    
}